*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template: repeat(10,100px) / repeat(8,1fr);
    grid-template-areas: 
    "text text text text . . . ."
    "text text text text . Reviews Reviews Reviews"
    "text text text text . Report Report Report"
    "text text text text . BesTech BesTech BesTech" 
    ". karma .";
    gap: 20px;
    margin: 0 10%;

}
.grid-item{

}